<app-page-header [heading]="'Contract'" [icon]="'fa-edit'"></app-page-header>

<form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label class="col-form-label col-md-3" for="contractId">
            Contract Id
        </label>
        <div class="col-md-3">
            <input formControlName="id" name="id" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-3" for="emplpyeeId">
            Employee Id
        </label>
        <div class="col-md-3">
            <input formControlName="employeeId" name="employeeId" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-3" for="type">
            Type
        </label>
        <div class="col-md-3">
            <select formControlName="type" name="type" class="form-control" required>
                <option *ngFor="let item of contractTypes" [value]="item.key">{{item.value}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-3" for="validFrom">
            Valid from
        </label>
        <div class="col-md-3">
            <input formControlName="validFrom" name="validFrom" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-3" for="validTo">
            Valid to
        </label>
        <div class="col-md-3">
            <input formControlName="validTo" name="validTo" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary offset-md-3" [disabled]="!contractForm.valid">Submit</button>
</form>
